<h2>Your Cart</h2>
{{message}}

<div class="list-group">
    {{#each cart}}
    <div class="list-group-item">
        <h4 class="pull-left">{{this.name}}</h4>
        <span class="pull-right"><a class="btn btn-success" href="/cart/{{this.id}}">Remove From Cart</a></span>
        <h4 class="text-right">${{this.price}}</h4>
    </div>
    {{/each}}
</div>
<a class="btn btn-success">Checkout</a>
<a class="btn btn-success" href="/products/">Continue Shopping</a>
<a class="btn btn-success" href="/products/cart">Empty Cart</a>