<h1>contact</h1>


Email Address:*<br>
<input type="text"></input><br>
First Name:*<br>
<input type="text"></input><br>
Last Name:*<br>
<input type="text"></input><br>
Question:<br>
<textarea rows="100" cols="100"></textarea><br><br>

<audio id="sound1" src="/sounds/fart.mp3" preload="auto"></audio>
<button type="button" onclick="document.getElementById('sound1').play();">Submit Question</button><br><br>

U.S. and Canada:
1-800-426-484<br>

International:
1-253-891-200<br>

Fax: Dial 1-253-891-253<br>

Our Contact Center is open Monday through Sunday, 4 AM to 11 PM Pacific Time.
We are closed on January 1st, March 27th, November 24th and 25th, and December 25th.
